body {
    margin: 0;
    background-color:#584548;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6B6B6B;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #3378B0;}

ul.topnav li a.active {background-color: #6FBCFC;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.centered {
    text-align: center;
}

#rcorners1 {
    border-radius: 15px;
    background: #A8A8A8;
    padding: 20px;
    width: 100px;
    height: 20px;
}
	
@font-face {
   font-family: myFirstFont;
   src: url(Segan-Light.ttf);
}

div {
   font-family: myFirstFont;
}


body {
  font-family: sans-serif;
}

h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

div.div1 {
  font-size: 0;
}

a.grid {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

a.grid:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a.grid {
    width: calc(25% - 6px);
  }
  
  a.grid:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  a.grid:nth-of-type(4n) {
    margin-right: 0;
  }
}

a.grid:hover img {
  transform: scale(1.15);
}

figure {
  margin: 0;
}

img {
  margin: 8px;
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}
