body {
    margin: 0;
    background-color: #E9E9E9;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6B6B6B;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #3378B0;}

ul.topnav li a.active {background-color: #6FBCFC;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.centered {
    text-align: center;
}

#rcorners1 {
    border-radius: 15px;
    background: #A8A8A8;
    padding: 20px;
    width: 100px;
    height: 20px;
}
	
@font-face {
   font-family: myFirstFont;
   src: url(Segan-Light.ttf);
}

div {
   font-family: myFirstFont;
}
